<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <base href="../..">
  <link rel="stylesheet" href="client/Styles/task.css">
</head>
<body>

  <h2>Add a New Task</h2>

  <form id="taskForm">
    <label>Title:</label>
    <input type="text" name="title" id="title" required>

    <label>Description:</label>
    <textarea name="description" id="description" rows="3"></textarea>

    <label>Due Date:</label>
    <input type="datetime-local" name="due_date" id="due_date">

    <button type="submit">Add Task</button>
  </form>

  <h2>Your Tasks</h2>
  <div class="task-container" id="taskContainer"></div>

  <script src="client/JS/task.js"></script>
  <!-- Achievements Modal -->
  <div id="achievementsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your Achievements</h2>
        <div id="achievementsList"></div>
    </div>
  </div>
</body>
</html>

